h2{
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}

.content-wrapper{ 
	background: url(bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box-title{
	color:white;	
	font-weight:700;
}

.tip{
	background-color:#605ca8;
	color:white;
	padding:5px 10px;
	text-align:center;					
}

.map-title{
	font-weight:bold;
	color:green;
}